.flag-template {
	position: absolute;
	top: 0px;
	left: 0px;
}

body {
	background-image: url("/assets/images/FlagTemplate.jpg");
	/*background-repeat: no-repeat;*/
}

.login-container {
position: absolute;
    top: 215px;
    left: 616px;
    font-size: 25px;
    font-weight: 600;
}

.trivia-logo {
	width: 200px;
	margin-right: auto;
	margin-left: auto;
	display: block;
}

.game-container {
	position: absolute;
	height: 100%;
	top: 0px;
	left: 353px;
	width: 745px;
}

#trivia {
	position: absolute;
	top: 250px;
	font-size: 26px;
	color: darkblue;
	font-family: 'Merriweather', serif;
}

.btn-start {
	position: absolute;
    top: 35px;
    left: 293px;
    width: 160px;
}

.choices {
	font-size: 16px;
	color: white;
	font-family: 'Merriweather', serif;
	background-color: darkred;
	border: 4px solid darkblue;
	border-radius: 18px;
	width: 550px;
	height: 40px;
	margin-top: 10px;
	padding-left: 10px;
	padding-top: 4px;
	cursor: pointer;
}

.choices:hover {
	background-color: red;
}

.countdown {
	position: absolute;
    top: 0px; 
    left: 497px;
	font-size: 140px;
	color: darkred;
	font-family: 'Merriweather', serif;

}

#score{
	position: absolute;
	top: 88px;
	font-size: 33px;
	color: darkred;
	font-family: 'Merriweather', serif;
	font-weight: bold; 
}
.create-update-form {
    background-color: beige;
    padding: 50px;
    font-size: large;
    margin: 20px;
    position: absolute;
     top: 248px;
    left: 470px;
    border: 10px solid;
    font-family: 'Merriweather', serif;
    color: rgb(38, 42, 67);
}

.scores-container {
	    background-color: beige;
    padding: 50px;
    font-size: large;
    margin: 20px;
    border: 10px solid;
    font-family: 'Merriweather', serif;
    color: rgb(38, 42, 67);
    display: inline-block;
}
button, input, select, textarea {
   
    background-color: #a94442;
}